<div class="citas-container">
  <h2>Lista de Doctores</h2>
  <button mat-raised-button (click)="openCreateDialog()">Crear Doctor</button>
  <table class="doctor-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Password</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctorData" class="doctor-item">
        <td>{{ doctor.id }}</td>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.lastName }}</td>
        <td>{{ doctor.email }}</td>
        <td>{{ sanitizePassword(doctor.password) }}</td>
        <td>
          <button mat-button (click)="openEditDialog(doctor)">Editar</button>
        </td>
        <td>
          <button mat-button (click)="deleteDoctor(doctor)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
