<div class="patient-details">
  <h2>Patient Details</h2>
</div>
<button mat-raised-button (click)="openCreateDialog(patientId)">Crear Reporte</button>

<div class="report-list">
  <h3>Reports</h3>
  <table class="excel-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Summary</th>
        <th>Description</th>
        <th>Comments</th>
        <th>Image</th>
        <th>Analysis</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reports">
        <td>{{ report.id }}</td>
        <td>{{ report.summary }}</td>
        <td>{{ report.description }}</td>
        <td>{{ report.comment }}</td>
        <td>
          <ng-container>
            <p>{{ reportResponses[report.id] }}</p>
            <img [src]="getReportImage(report.id)" alt="Report Image" style="width: 100px; height: 100px;">
            <ng-container *ngIf="report.description !== 'No tiene aneurisma' && report.description !== 'Tiene aneurisma' && !isUserAdmin">
              <input type="file" (change)="onFileChange($event, report.id)">
              <button (click)="uploadFile(report.id)">Upload File</button>
            </ng-container>
          </ng-container>
        </td>
        
        <td>
          <button (click)="makePrediction(report.id)">Analyze</button>
        </td>
        <td>
          <button mat-button (click)="openEditDialog(report)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
