/* styles.css */

.patient-details {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 20px;
  }
  
  .patient-id {
    font-weight: bold;
  }
  
  .report-list {
    background-color: #e0e0e0;
    padding: 10px;
    border: 1px solid #bbb;
  }
  
  .report-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .report-info {
    flex: 1;
  }
  
  .report-property {
    margin: 5px 0;
  }
  
  .report-image {
    flex: 1;
    text-align: right;
  }
  
  .report-image img {
    max-width: 100%;
    max-height: 150px;
  }
  
  /* En tu archivo CSS o en el archivo CSS del componente */

.response-from-server {
  margin-top: 20px; /* Espacio entre la sección anterior y la respuesta del servidor */
  border: 1px solid #ccc; /* Borde alrededor de la sección */
  padding: 10px; /* Espaciado interno */
  background-color: #f5f5f5; /* Color de fondo */
  border-radius: 5px; /* Bordes redondeados */
}

.response-from-server h3 {
  font-size: 18px; /* Tamaño de fuente para el título */
  margin: 0; /* Elimina el margen superior por defecto */
}

.response-from-server p {
  font-size: 16px; /* Tamaño de fuente para el contenido de la respuesta */
}
