<div class="patient-details">
  <h2>Patient Details</h2>
</div>

<div class="report-list">
  <h3>Reports</h3>
  <ul>
    <li *ngFor="let report of reports">
      <div class="report-info">
        <p>ID: {{ report.id }}</p>
        <p>Summary: {{ report.summary }}</p>
        <p>Description: {{ report.description }}</p>
        <input type="file" (change)="onFileChange($event, report.id)">
        <button (click)="uploadFile(report.id)">Subir Archivo</button>
        <img [src]="getReportImage(report.id) | async" width="512" height="512" alt="Report Image">

      </div>

    </li>
  </ul>
</div>

  