<div class="patient-details">
  <h2>Patient Details</h2>
</div>
<h3>{{patientName}}</h3>

<input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por summary">
<button mat-raised-button (click)="openCreateDialog(patientId)">Crear Reporte</button>

<div class="report-list">
  <h3>Reports</h3>
  <table class="excel-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Summary</th>
        <th>Description</th>
        <th>Comments</th>
        <th>Image</th>
        <th>Date</th>
        <th>Analysis</th>
        <th *ngIf="!isNotUserAdmin"> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of filteredReports()">
        <td>{{ report.id }}</td>
        <td>{{ report.summary }}</td>
        <td>{{ report.description }}</td>
        <td>{{ report.comment }}</td>
        <td>
          <ng-container>
            <img [src]="getReportImage(report)" alt="Report Image" style="width: 100px; height: 100px;">

            <ng-container *ngIf="report.description !== 'No tiene aneurisma' && report.description !== 'Tiene aneurisma' && isNotUserAdmin">
              <input type="file" (change)="onFileChange($event, report.id)">
              <button (click)="uploadFile(report.id)">Upload File</button>
            </ng-container>
            
          </ng-container>
        </td>
        <td>{{ report.image.added }}</td>
        
        <td>
          <button (click)="makePrediction(report)">Analyze</button>
        </td>
        <td *ngIf="!isNotUserAdmin">
          <ng-container>
            <button mat-button (click)="openEditDialog(report)">Editar</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
