<app-navbar></app-navbar>
<div class="citas-container">
    <h2>Lista de Pacientes</h2>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por nombre">
    <button mat-raised-button (click)="openCreateDialog()">Crear Paciente</button>
    <table class="doctor-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of filteredPatients()" class="doctor-item">
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.lastName }}</td>
          <td>{{ patient.email }}</td>
          <td>
            <button mat-button (click)="openDetailDialog(patient)">Examenes</button>
          </td>
          <td>
            <button mat-button (click)="openEditDialog(patient)">Editar</button>
          </td>
          <td>
            <button mat-button (click)="confirmDeletePatient(patient)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
