<div class="login">
  <form (submit)="submitLogin()" class="custom-form" method="post">
    <h1>Neural Scan</h1>
    <div class="login-picture">
      <img src="assets/neuralscan.png" alt="image">
    </div>
    <label class="login-as-label">Log in as:</label>

    <div class="user-type">
      <label>
        <input type="radio" name="userType" value="admin" [(ngModel)]="selectedUserType"> Admin
      </label>
      <span class="divider">  </span>
      <label>
        <input type="radio" name="userType" value="doctor" [(ngModel)]="selectedUserType"> Doctor
      </label>
    </div>

    <div>
      <input
        type="email"
        [(ngModel)]="mylogin.email"
        name="email"
        placeholder="Email"
        required
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
      />
      <div *ngIf="mylogin.email !== undefined && !isValidEmail()">
        <div *ngIf="mylogin.email !== '' && !mylogin.email.match('[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}')">
          Please enter a valid email address.
        </div>
      </div>
    </div>


    <div>
      <input
        type="password"
        [(ngModel)]="mylogin.password"
        name="password"
        placeholder="Password"
        required="required"
        email
      />
    </div>

    <!-- Usa radio buttons para seleccionar el tipo de usuario -->


    <button type="submit">Log in</button>
  </form>
</div>
